@import "tailwindcss";

:root {
  --color-primary: #64ed3a;
  --color-dark: #000000;
  --color-white: #ffffff;
  --color-gray-1: #fafafa;
  --color-gray-2: #dadada;
  --color-gray-3: #4f4f4f;
}

@theme {
  --color-primary: var(--color-primary);
  --color-dark: var(--color-dark);
  --color-white: var(--color-white);
  --color-gray-1: var(--color-gray-1);
  --color-gray-2: var(--color-gray-2);
  --color-gray-3: var(--color-gray-3);
}

.scrollbar-x-custom::-webkit-scrollbar {
  height: 4px; /* altura da barra horizontal */
}

.scrollbar-x-custom::-webkit-scrollbar-thumb {
  background-color: #22c55e; /* verde */
  border-radius: 999px;
}

.scrollbar-x-custom::-webkit-scrollbar-track {
  background: #e5e7eb;
}
